{% extends 'header.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block main_body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="text-center my-4">
            <h3>Contact</h3>
        </div>

        <div class="bg-success py-1 mb-4"></div>

        <form method="post" action="{% url 'onedaytwogether:contact' %}" id="myForm" class="border p-4 rounded">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h4>Get in <span style="color:#124747">touch</span></h4>
            </div>

            <div class="mb-3">
                {% if user.is_authenticated %}
                <label for="name" class="form-label">Name :</label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="Name" 
                       value="{{ userdata.first.first_name }} {{ userdata.first.last_name }}">
                {% else %}
                <label for="name" class="form-label">Name :</label>
                <input type="text" class="form-control" id="name" name="Name" placeholder="Name">
                {% endif %}
            </div>

            <div class="mb-3">
                {% if user.is_authenticated %}
                <label for="address" class="form-label">Address :</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" 
                       value="{{ userdata.first.Address }}">
                {% else %}
                <label for="address" class="form-label">Address :</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                {% endif %}
            </div>

            <div class="mb-3">
                {% if user.is_authenticated %}
                <label for="contactNumber" class="form-label">Phone Number :</label>
                <input type="text" class="form-control" id="contactNumber" name="ContactNumber" placeholder="Contact Number" 
                       value="{{ userdata.first.tel }}">
                {% else %}
                <label for="contactNumber" class="form-label">Phone Number :</label>
                <input type="text" class="form-control" id="contactNumber" name="ContactNumber" placeholder="Contact Number">
                {% endif %}
            </div>

            <div class="mb-3">
                {% if user.is_authenticated %}
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" 
                       value="{{ userdata.first.email }}">
                {% else %}
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="member" class="form-label">Members :</label>
                <input type="number" class="form-control" id="member" name="member" placeholder="" min="1">
            </div>

            <div class="mb-3">
                <label for="destinationSelect" class="form-label">Select Destination</label>
                <select class="form-select" id="destinationSelect" name="Location">
                    <option selected disabled>Select Destination</option>
                    {% for j in desdata %}
                    {% for k in desid %}
                    {% if k.id == j.id %}
                    <option value="{{ j.id }}" selected>{{ j.destination }}</option>
                    {% else %}
                    <option value="{{ j.id }}">{{ j.destination }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="scheduleSelect" class="form-label">Select Schedule</label>
                <select class="form-select" id="scheduleSelect" name="Scheduleid">
                    <option selected disabled>Select Schedule</option>
                    {% for i in desdata %}
                    {% for j in shcedata %}
                    {% if i.id == j.Destination_id %}
                    {% if j.id == schedule.first.id %}
                    <option value="{{ j.id }}" id="sche{{ j.Destination_id }}" selected>{{ j.Schedule }}</option>
                    {% else %}
                    <option value="{{ j.id }}" id="sche{{ j.Destination_id }}">{{ j.Schedule }}</option>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="lettalk" class="form-label">Let talk</label>
                <input type="text" class="form-control" id="lettalk" name="lettalk" placeholder="Let talk">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <!-- <div class="row mt-4 text-center">
            <div class="col-sm-6">
                <img src="{% static 'image/Screenshot 203-04-18 153933.png' %}" alt="Phone Icon" class="img-fluid">
                <p>Phone <br>(+855) 456 7890</p>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'image/email.png' %}" alt="Email Icon" class="img-fluid">
                <p>Email <br>1day2gethercamp@gmail.com</p>
            </div>
        </div> -->
    </div>
<br>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Send!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Send!',
                        'Send Successfully',
                        'success'
                    );
                    document.getElementById("myForm").submit(); // Submit the form
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Send Cancelled',
                        'error'
                    );
                }
            });
        });

        window.addEventListener('DOMContentLoaded', (event) => {
            const destinationSelect = document.getElementById('destinationSelect');
            const scheduleSelect = document.getElementById('scheduleSelect');

            destinationSelect.addEventListener('change', function () {
                let destinationId = destinationSelect.value;
                scheduleSelect.value = '';
                const scheduleOptions = scheduleSelect.getElementsByTagName('option');
                for (let i = 0; i < scheduleOptions.length; i++) {
                    let option = scheduleOptions[i];
                    if (option.id.startsWith('sche' + destinationId)) {
                        option.style.display = 'block';
                    } else {
                        option.style.display = 'none';
                    }
                }
            });

            function checkDestinationValues() {
                let destinationId = destinationSelect.value;
                const scheduleOptions = scheduleSelect.getElementsByTagName('option');
                for (let i = 0; i < scheduleOptions.length; i++) {
                    let option = scheduleOptions[i];
                    if (option.id.startsWith('sche' + destinationId)) {
                        option.style.display = 'block';
                    } else {
                        option.style.display = 'none';
                    }
                }
            }
            checkDestinationValues();
        });
    </script>
</body>
{% endblock main_body %}
